h1 {
    text-align: center;
}

.teams-table {
    padding: 20px 40px;
}

.teams-table-btns {
    text-align: end;
    padding: 0px 20px 20px 20px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}