.user-view-section {
    text-align: start !important;
}

h2 {
    color: #0275d8;
    font-size: 25px;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0;
    color: #f0ad4e;
}

ul {
    list-style: none;
}